<section class="main-container p-20">
  <div class="row mb-20">
    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 col-12">
      <button type="button" mat-flat-button class="btn btn-sm btn-secondary" (click)="goBack()">
        <i class="material-icons">arrow_back</i>
        <span class="ml-15">Go back to list</span>
      </button>
    </div>
  </div>
    <div class="row">
      <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 col-12">
        <h1 class="heading">Sacks Inventory/Stocks</h1>
        <p class="sub-heading mb-8">Date: <strong>{{ items.created_at | timezone | date: 'MMMM dd, yyyy' }}</strong></p>
        <p class="sub-heading mb-8">Warehouseman: <strong>{{ items.name }}</strong></p>
        <ng-container *ngIf="showtimeago">
          <p class="sub-heading italic" *ngIf="activity && activity.created_at">last updated {{ activity.created_at | timeago }}</p>
          <ngx-skeleton-loader *ngIf="!activity || !activity.created_at" [theme]="{
              'border-radius' : '5px',
              'margin-bottom' : '10px',
              'height' : '20px'
          }"></ngx-skeleton-loader>
        </ng-container>
      </div>
      <div class="col-xl-auto col-lg-auto col-md-auto col-sm-6 col-6 ml-auto">
        <mat-spinner-button (btnClick)="openModal()" [options]="btnOps_pdf"></mat-spinner-button>
      </div>
      <div class="col-xl-auto col-lg-auto col-md-auto col-sm-6 col-6">
        <mat-spinner-button (btnClick)="exportToCsv()" [options]="btnOps_csv"></mat-spinner-button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="container-card p-20">
          <div class="row mb-20">
            <div class="col-xl-auto col-lg-auto col-md-12 col-sm-12 col-12">
              <div class="row">
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto col-auto border-right">
                  <p>Beginning stocks</p>
                  <h3>{{ items.last_data ? (items.last_data.last_ending | number) : 0 }}</h3>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto col-auto border-right">
                  <p>No. of In/from House</p>
                  <h3>{{ in_house | number }}</h3>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto col-auto border-right">
                  <p>No. of Out/Sales</p>
                  <h3>{{ out_sales | number }}</h3>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto col-auto">
                  <p>Total Remaining for this day</p>
                  <h3>{{ items.last_ending | number }}</h3>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="!isLoaded">
            <div class="data-table p-relative table-listing" style="overflow: auto;">
              <table [ngStyle]="{'width.px': 200 * visible_columns.length}">
                <thead>
                  <tr>
                    <ng-container *ngFor="let th of ths; let i = index">
                      <th *ngIf="th.isVisible" [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                        {{ th.label }}
                        <ng-container *ngIf="th.canSort">
                          <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                          <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                        </ng-container>
                      </th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of counter(visible_columns.length);">
                    <td class="text-uppercase" *ngFor="let x of counter(visible_columns.length); let i = index">
                      <ngx-skeleton-loader [theme]="{
                        'border-radius' : '5px',
                        'margin-bottom' : '0px',
                        'height' : '20px'
                      }"></ngx-skeleton-loader>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <ng-container *ngFor="let th of ths; let i = index">
                      <th *ngIf="th.isVisible" [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                        {{ th.label }}
                        <ng-container *ngIf="th.canSort">
                          <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                          <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                        </ng-container>
                      </th>
                    </ng-container>
                  </tr>
                </tfoot>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="visible_columns.length > 0 && isLoaded && items.sack_bldg_inventory.length > 0">
            <div class="data-table p-relative table-listing" style="overflow: auto;">
              <table [ngStyle]="{'width.px': 200 * visible_columns.length}">
                <thead>
                  <tr>
                    <ng-container *ngFor="let th of ths; let i = index">
                      <th [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                        {{ th.label }}
                        <ng-container *ngIf="th.canSort">
                          <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                          <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                        </ng-container>
                      </th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sacks</td>
                    <td>{{ items.last_ending > 0 ? 'Available' : 'Out of Stock' }}</td>
                    <td>{{ items.last_data ? (items.last_data.last_ending | number) : 0  }}</td>
                    <td *ngFor="let item of items.sack_bldg_inventory; let i = index">{{ item.count | number }}</td>
                    <td>{{ items.total_in | number }}</td>
                    <td>{{ items.total_out | number }}</td>
                    <td>{{ items.sales | number }}</td>
                    <td>{{ items.last_ending | number }}</td>
                    <td>{{ items.remarks }}</td>
                    <td>{{ items.remarks_out }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <ng-container *ngFor="let th of ths; let i = index">
                      <th [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                        {{ th.label }}
                        <ng-container *ngIf="th.canSort">
                          <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                          <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                        </ng-container>
                      </th>
                    </ng-container>
                  </tr>
                </tfoot>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="visible_columns.length > 0 && isLoaded && items.sack_bldg_inventory.length == 0">
            <div class="row h-300">
              <div class="col-12 text-center">
                <p class="mb-0 align-center">No Results found</p>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="isLoaded && visible_columns.length == 0">
            <div class="row">
              <div class="col-12 text-center">
                <p class="mb-0">Please choose column visibility</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>