<section class="main-container p-20">
  <div class="row mb-20">
    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-9 col-9">
      <h1 class="heading">Customer Management</h1>
      <p class="sub-heading mb-8">Total number of customers: <strong>{{ totalItems }}</strong></p>
      <ng-container *ngIf="showtimeago">
        <p class="sub-heading italic mb-0" *ngIf="activity && activity.update_at">last updated {{ activity.update_at | timeago }}</p>
        <ngx-skeleton-loader *ngIf="!activity || !activity.update_at" [theme]="{
          'border-radius' : '5px',
          'margin-bottom' : '10px',
          'height' : '20px'
        }"></ngx-skeleton-loader>
      </ng-container>
    </div>
    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-3 col-3 ml-auto">
      <mat-spinner-button (btnClick)="routerLink('/customers/create')" [options]="btnOps"></mat-spinner-button>
    </div>
  </div>
  <div class="container-card p-20">
    <div class="row">
      <div class="col-xl-5 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="form-group mb-20">
          <div class="inner-group in-line">
            <label class="mr-15">Show</label>
            <mat-select class="btn btn-drop-down text-left mr-15" [(ngModel)]="limit" (selectionChange)="changeLimit($event)" *ngIf="totalItems >= 10">
                <mat-option *ngFor="let limit of limits" [value]="limit.value">{{ limit.label }}</mat-option>
            </mat-select>
            <mat-select class="btn btn-drop-down text-left mr-15" [(ngModel)]="limit_disabled" *ngIf="totalItems < 10" disabled>
                <mat-option [value]="limit_disabled">{{ limit_disabled }}</mat-option>
            </mat-select>
            <label>of {{ totalItems | number }} entries</label>
          </div>
        </div>
      </div>
      <div class="col-xl-4 offset-xl-3 col-lg-4 offset-lg-5 col-md-12 col-sm-12 col-12">
        <div class="form-group mb-20">
          <div class="inner-group search">
            <i class="icon-search"></i>
            <input type="text" class="form-control" id="inputSearch" placeholder="Search" [(ngModel)]="search"
              (keydown.enter)="searchItem()" />
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!isLoaded">
      <div class="data-table p-relative table-listing" style="overflow: auto;">
        <table [ngStyle]="{'width.px': 200 * visible_columns.length}">
          <thead>
            <tr>
              <ng-container *ngFor="let th of ths; let i = index">
                <th *ngIf="th.isVisible" [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                  {{ th.label }}
                  <ng-container *ngIf="th.canSort">
                    <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                    <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                  </ng-container>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of counter(visible_columns.length);">
              <td class="text-uppercase" *ngFor="let x of counter(visible_columns.length); let i = index">
                <ngx-skeleton-loader [theme]="{
                  'border-radius' : '5px',
                  'margin-bottom' : '0px',
                  'height' : '20px'
                }"></ngx-skeleton-loader>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <ng-container *ngFor="let th of ths; let i = index">
                <th *ngIf="th.isVisible" [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                  {{ th.label }}
                  <ng-container *ngIf="th.canSort">
                    <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                    <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                  </ng-container>
                </th>
              </ng-container>
            </tr>
          </tfoot>
        </table>
      </div>
    </ng-container>
    <ng-container *ngIf="visible_columns.length > 1 && isLoaded && items.length > 0">
      <div class="data-table p-relative table-listing" style="overflow: auto;">
        <table [ngStyle]="{'width.px': 200 * visible_columns.length}">
          <thead>
            <tr>
              <ng-container *ngFor="let th of ths; let i = index">
                <th [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                  {{ th.label }}
                  <ng-container *ngIf="th.canSort">
                    <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                    <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                  </ng-container>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td>{{ item.customer_id }}</td>
              <td>{{ item.profile_first_name }} {{ item.profile_last_name }}</td>
              <td>{{ item.customer_type ? item.customer_type.type : '' }}</td>
              <td>{{ item.contact_number ? '+63' : '' }}<span *ngIf="item.contact_number">{{item.contact_number}}</span></td>
              <td>{{ item.address_address }}</td>
              <td>{{ item.created_at | timezone | date: 'MM/dd/yyyy, hh:mm aaa' }}</td>
              <td>
                <button type="button" mat-flat-button class="btn btn-clear text-blue" [routerLink]="[ '/customers/view', item.id]">
                  <i class="icon-datatables-view"></i>
                  View
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <ng-container *ngFor="let th of ths; let i = index">
                <th [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                  {{ th.label }}
                  <ng-container *ngIf="th.canSort">
                    <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                    <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                  </ng-container>
                </th>
              </ng-container>
            </tr>
          </tfoot>
        </table>
      </div>
    </ng-container>
    <ng-container *ngIf="visible_columns.length > 1 && isLoaded && items.length == 0">
      <div class="row h-300">
        <div class="col-12 text-center">
          <p class="mb-0 align-center">No Results found</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isLoaded && visible_columns.length == 0">
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0">Please choose column visibility</p>
        </div>
      </div>
    </ng-container>
    <div class="row mt-20">
      <div class="col-xl-5 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="form-group mb-0">
          <div class="inner-group in-line">
            <label class="mr-15">Show</label>
            <mat-select class="btn btn-drop-down text-left mr-15" [(ngModel)]="limit" (selectionChange)="changeLimit($event)" *ngIf="totalItems >= 10">
                <mat-option *ngFor="let limit of limits" [value]="limit.value">{{ limit.label }}</mat-option>
            </mat-select>
            <mat-select class="btn btn-drop-down text-left mr-15" [(ngModel)]="limit_disabled" *ngIf="totalItems < 10" disabled>
                <mat-option [value]="limit_disabled">{{ limit_disabled }}</mat-option>
            </mat-select>
            <label>of {{ totalItems | number }} entries</label>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-9 col-md-12 col-sm-12 col-12">
        <mat-paginator
            [length]="totalItems"
            [pageSize]="limit"
            [hidePageSize]="true"
            [showFirstLastButtons]="true"
            (page)="gotoPage($event)"
            [pageIndex]="page - 1"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>