<div class="row">
    <div class="col-12">
        <h6 class="mini-heading">{{ modal_title }}</h6>
    </div>
</div>
<ng-container *ngIf="action == 'delete'">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="text-secondary">{{ modal_message }}</label>
            </div>
        </div>
    </div>
</ng-container>
<form [formGroup]="feedUpdateForm">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="form-group">
                <label class="fs-14 mb-10">Choose a feed</label>
                <mat-select class="btn btn-drop-down btn-block text-left mb-10" placeholder="Please choose feed" [value]="feed.feed_id" (selectionChange)="chooseFeed($event)">
                    <mat-option *ngFor="let feed of feed_options" [value]="feed.id">{{ feed.feed }}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="form-group">
                <label class="fs-14 mb-10">Feed Consumption</label>
                <input type="number" class="form-control mb-10" placeholder="0" maxlength="10" (input)="setFeedValue($event.target.value)" [value]="feed.feed_consumption"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <button type="button" mat-flat-button class="btn btn-sm btn-clear" (click)="closeModal()">Cancel</button>
        </div>
        <div class="col-6">
            <button type="submit" mat-flat-button class="btn btn-sm btn-block btn-primary" (click)="submit()">{{ modal_primary_button }}</button>
        </div>
    </div>
</form>