<div class="row">
    <div class="col-12">
        <h6 class="mini-heading">{{ modal_title }}</h6>
    </div>
</div>
<form [formGroup]="confirmPasswordForm">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="text-secondary">{{ modal_message }}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group p-relative">
                <input type="{{ show_password ? 'text' : 'password' }}" formControlName="password" class="form-control mb-10" />
                <button type="button" class="btn btn-clear p-absolute t-2 r-0" (click)="showPassword()">
                    <i [ngClass]="{ 'icon-eye-close' : !show_password, 'icon-eye-open' : show_password }"></i>
                </button>
                <ng-container *ngIf="confirmPasswordForm.controls.password.touched">
                    <p class="text-danger" *ngIf="confirmPasswordForm.controls.password.hasError('required')">Password is required</p>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <button type="button" mat-flat-button class="btn btn-sm btn-clear" (click)="closeModal()">Cancel</button>
        </div>
        <div class="col-6">
            <mat-spinner-button (btnClick)="submit()" [options]="btnOps" [disabled]="!confirmPasswordForm.valid"></mat-spinner-button>
            <!-- <button type="submit" mat-flat-button class="btn btn-sm btn-block" [ngClass]="modal_primary_button_class" [disabled]="!confirmPasswordForm.valid || isLoading">{{ modal_primary_button }}</button> -->
        </div>
    </div>
</form>