<section class="main-container p-20">
    <div class="row mb-20">
        <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6 col-12">
            <h1 class="heading">My Profile</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6 col-12">
        <div class="container-card view-record p-20">
          <div class="row">
            <div class="col-xl-2 offset-xl-0 col-lg-3 offset-lg-0 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-6 offset-3">
              <img *ngIf="!isLoaded || !user_profile.profile_picture" src="../../../../../assets/images/profile.svg" class="avatar img-responsive">
              <img *ngIf="isLoaded && user_profile.profile_picture" [src]="user_profile.profile_picture" class="avatar img-responsive">
            </div>
            <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12 pl-0 mt-11">
              <div class="row ml-0 mr-0">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-5 fs-12">First Name</p>
                  <h1 class="mini-heading fw-500">{{ user_profile.profile_first_name }}</h1>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-5 fs-12">Last Name</p>
                  <h1 class="mini-heading fw-500">{{ user_profile.profile_last_name }}</h1>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-8 fs-12">Username</p>
                  <h1 class="fs-14">{{ user_profile.username }}</h1>
                </div>
              </div>
              <div class="row mt-19 ml-0 mr-0">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-8 fs-12">User Role</p>
                  <h1 class="fs-14">{{ user_profile.user_role_label }}</h1>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-8 fs-12">User ID</p>
                  <h1 class="fs-14">{{ user_profile.id }}</h1>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-8 fs-12">Mobile Number</p>
                  <h1 class="fs-14">+63{{ user_profile.contact_number }}</h1>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0" *ngIf="user_profile.user_role_id == 4 || user_profile.user_role_id == 5">
                  <p class="mb-8 fs-12">Email</p>
                  <h1 class="fs-14">{{ user_profile.email }}</h1>
                </div>
              </div>
              <div class="row mt-19 ml-0 mr-0">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-8 fs-12">Address</p>
                  <h1 class="fs-14">{{ user_profile.profile_location }}</h1>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-8 fs-12">Password</p>
                  <h1 class="fs-14">{{ user_profile.real_password }}</h1>
                </div>
              </div>
              <div class="row mt-19 ml-0 mr-0">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-8 fs-12">Date Added</p>
                  <h1 class="fs-14">{{ user_profile.created_at | timezone | date : 'MM/dd/yyyy' }}</h1>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pr-0">
                  <p class="mb-8 fs-12">Last Login</p>
                  <h1 class="fs-14">{{ user_profile.last_login ? (user_profile.last_login | timezone | date : 'MM/dd/yyyy, hh:mm aaa') : 'Not yet logged in' }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
        <div class="body-card pt-18 pl-24 pr-24 pb-43">
          <h1 class="mini-heading fs-14 fw-500 mb-10">Actions</h1>
          <p class="fs-14 action-note">Here are the actions you can apply for this order details.</p>
          <button type="button" class="btn btn-secondary mt-30 btn-block" mat-flat-button [routerLink]="['/staffs/update', user_profile.id]">
            <div class="cus-layer ml-auto mr-auto">
              <i class="icon-edit"></i>
              <span class="ml-8 fs-14">Edit Profile</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </section>
  
  <section class="main-container p-20">
    <div class="row mb-35">
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
        <h1 class="heading">Activity Log</h1>
      </div>
    </div>
    
    <div class="container-card p-20 mb-25" *ngIf="show_filter">
      <div class="row">
        <div class="col-12">
          <h6 class="card-heading">Filters</h6>
        </div>
      </div>
      <div class="row">
  <!--       <div class="col-xl-10 col-lg-9 col-md-9 col-sm-12 col-12">
          <div class="row">
            <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 col-12">
              <div class="form-group">
                <input [satDatepicker]="created_at_picker" class="w-0 p-0 border-0" (dateChange)="chooseCreatedAt($event)" [(ngModel)]="created_at">
                <sat-datepicker #created_at_picker [rangeMode]="true"></sat-datepicker>
                <button type="button" mat-flat-button class="btn btn-drop-down btn-sm btn-block" (click)="created_at_picker.open()">{{ from && to ? 'Date Created - ' + (from | timezone | date: 'MM/dd/yyyy') + ' - ' + (to | timezone | date: 'MM/dd/yyyy') : 'Date Created' }}
                  <i class="icon-arrow-drop-down ml-5"></i>
                </button>
              </div>
            </div>
          </div>
        </div> -->
  <!--       <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 col-12 ml-auto">
          <div class="form-group">
            <button type="button" mat-flat-button class="btn btn-sm btn-clear btn-block" (click)="clearFilters()">
              Clear Filters
            </button>
          </div>
        </div> -->
      </div>
    </div>
    <div class="container-card p-20">
      <div class="row mb-25">
        <div class="col-xl-5 col-lg-3 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <div class="inner-group in-line">
              <label class="mr-15">Show</label>
              <mat-select class="btn btn-drop-down text-left mr-15" [(ngModel)]="limit" (selectionChange)="changeLimit($event)" *ngIf="totalItems >= 10">
                  <mat-option *ngFor="let limit of limits" [value]="limit.value">{{ limit.label }}</mat-option>
              </mat-select>
              <mat-select class="btn btn-drop-down text-left mr-15" [(ngModel)]="limit_disabled" *ngIf="totalItems < 10" disabled>
                  <mat-option [value]="limit_disabled">{{ limit_disabled }}</mat-option>
              </mat-select>
              <label>of {{ totalItems | number }} entries</label>
            </div>
          </div>
        </div>
  <!--       <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
          <div class="form-group">
            <div class="inner-group">
              <mat-select multiple class="btn btn-block btn-primary multiple-select" (selectionChange)="changeColumnVisibility($event)" placeholder="Column Visibility" [(ngModel)]="visible_columns">
                <mat-select-trigger>Column Visibility</mat-select-trigger>
                <mat-option *ngFor="let item of ths; let i = index" [value]="i">{{ item.label }}</mat-option>
              </mat-select>
            </div>
          </div>
        </div> -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
          <div class="form-group">
            <input [satDatepicker]="created_at_picker" [max]="max_date" class="w-0 p-0 border-0" (dateChange)="chooseCreatedAt($event)"
              [(ngModel)]="created_at">
            <sat-datepicker #created_at_picker [rangeMode]="true"></sat-datepicker>
            <button type="button" mat-flat-button class="btn btn-drop-down btn-sm btn-block"
              (click)="created_at_picker.open()">{{ from && to ? 'Date Created - ' + (from | timezone | date: 'MM/dd/yyyy') + ' - ' + (to | timezone | date: 'MM/dd/yyyy') : 'Date Created' }}
              <i class="icon-arrow-drop-down ml-5"></i>
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-8">
          <div class="form-group">
            <mat-select class="btn btn-drop-down btn-sm btn-block text-left" [(ngModel)]="code"
              (selectionChange)="changeCode($event)" placeholder="Staff Activity">
              <mat-option *ngFor="let code_option of code_options" [value]="code_option.value">{{ code_option.label }}</mat-option>
            </mat-select>
          </div>
        </div>
  <!--       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-8">
          <div class="form-group">
            <div class="inner-group search">
              <i class="icon-search"></i>
              <input type="text" class="form-control" id="inputSearch" placeholder="Search" [(ngModel)]="search"
                (keydown.enter)="searchItem()" />
            </div>
          </div>
        </div> -->
  <!--       <div class="col-xl-2 col-lg-3 col-md-4 col-sm-3 col-4">
          <div class="form-group">
            <button type="button" mat-flat-button class="btn btn-block" [ngClass]="{'btn-primary' : !show_filter, 'btn-secondary' : show_filter}" (click)="showFilter()">
              <i [ngClass]="{'icon-filter-inactive' : !show_filter, 'icon-filter-active' : show_filter}"></i>
              <span class="ml-15 d-xl-inline d-lg-inline d-md-inline d-sm-none d-none">{{ show_filter ? 'Hide Filter' : 'Show Filter' }}</span>
            </button>
          </div>
        </div> -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-3 col-4">
          <div class="form-group">
            <button type="button" mat-flat-button class="btn btn-sm btn-clear btn-block" (click)="clearFilters()">
              Clear Filters
            </button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="visible_columns.length > 1">
        <div class="data-table p-relative table-listing" style="overflow: auto;">
          <table>
            <thead>
              <tr>
                <ng-container *ngFor="let th of ths; let i = index">
                  <th *ngIf="th.isVisible" [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                    {{ th.label }}
                    <ng-container *ngIf="th.canSort">
                      <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                      <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                    </ng-container>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="isLoaded && items.length > 0">
                <tr *ngFor="let item of items; let i = index">
                  <td *ngIf="ths[0].isVisible" [innerHTML]="item.action">{{ item.action }}</td>
                  <td *ngIf="ths[1].isVisible">{{ item.created_at }}</td>
  <!--                 <td *ngIf="ths[2].isVisible">
                    <mat-chip-list>
                      <mat-chip>{{ item.recordStatus }}</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td *ngIf="ths[3].isVisible">{{ item.bird_count | number }}</td>
                  <td *ngIf="ths[4].isVisible">{{ item.real_egg_count | number }}</td>
                  <td *ngIf="ths[5].isVisible">
                    <button type="button" mat-flat-button class="btn btn-clear" [routerLink]="[ '/transactions/view', item.id]">
                      <i class="icon-datatables-view"></i>
                      View
                    </button>
                  </td> -->
                </tr>
              </ng-container>
              <ng-container *ngIf="!isLoaded">
                <tr>
                  <td class="text-uppercase" *ngFor="let x of counter(visible_columns.length); let i = index">
                    <ngx-skeleton-loader [theme]="{
                      'border-radius' : '5px',
                      'margin-bottom' : '0px',
                      'height' : '20px'
                    }"></ngx-skeleton-loader>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="isLoaded && items.length == 0">
                <tr>
                  <td [attr.colspan]="visible_columns.length" class="text-center">No Results found</td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <ng-container *ngFor="let th of ths; let i = index">
                  <th *ngIf="th.isVisible" [ngClass]="{ 'sort' : th.canSort }" (click)="orderList(th.canSort, th.key, order.order_by == 'desc' ? 'asc' : 'desc')">
                    {{ th.label }}
                    <ng-container *ngIf="th.canSort">
                      <i *ngIf="order.order_by_column == th.key" [ngClass]="{ 'icon-datatables-order-asc' : order.order_by == 'asc', 'icon-datatables-order-desc' : order.order_by == 'desc' }"></i>
                      <i [ngClass]="{ 'icon-datatables-order-default' : order.order_by_column != th.key }"></i>
                    </ng-container>
                  </th>
                </ng-container>
              </tr>
            </tfoot>
          </table>
        </div>
      </ng-container>
      <ng-container *ngIf="isLoaded && visible_columns.length == 1">
        <div class="row">
          <div class="col-12 text-center">
            <p class="mb-0">Please choose column visibility</p>
          </div>
        </div>
      </ng-container>
      <div class="row mt-20">
        <div class="col-xl-5 col-lg-3 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <div class="inner-group in-line">
              <label class="mr-15">Show</label>
              <mat-select class="btn btn-drop-down text-left mr-15" [(ngModel)]="limit" (selectionChange)="changeLimit($event)" *ngIf="totalItems >= 10">
                  <mat-option *ngFor="let limit of limits" [value]="limit.value">{{ limit.label }}</mat-option>
              </mat-select>
              <mat-select class="btn btn-drop-down text-left mr-15" [(ngModel)]="limit_disabled" *ngIf="totalItems < 10" disabled>
                  <mat-option [value]="limit_disabled">{{ limit_disabled }}</mat-option>
              </mat-select>
              <label>of {{ totalItems | number }} entries</label>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-9 col-md-12 col-sm-12 col-12" *ngIf="totalPages > 1">
          <ul class="paginate pull-right">
            <li class="link cursor-pointer" *ngIf="prev_page">
              <a (click)="gotoPage(prev_page)">
                Previous
              </a>
            </li>
            <ng-container *ngFor="let x of counter(totalPages); let i = index">
              <li class="next-page cursor-pointer" (click)="gotoPage(i+1)" [ngClass]="{ 'c-pointer active' : page == i+1 }" value="{{ i+1 }}">{{ i+1 }}</li>
            </ng-container>
            <li class="link cursor-pointer" *ngIf="next_page">
              <a (click)="gotoPage(next_page)">
                Next
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>